<div class="admin-tools">
  <div class="regional-link">
    <a routerLink="/regional" routerLinkActive="active">
      <button mat-icon-button color="primary" aria-label="Regional">
        <mat-icon>language</mat-icon> Regional Landing Page
      </button>
    </a>
  </div>
</div>

<div class="admin-tools">
  <div *ngFor="let municipality of municipalities" class="municipal-link">
    <a [routerLink]="['/municipal', municipality.code]" routerLinkActive="active">
      <button mat-icon-button color="primary" aria-label="Municipal">
        <mat-icon>location_city</mat-icon> {{municipality.label}} Landing Page
      </button>
    </a>
  </div>
</div>
