<div class="page-title">
  <h2 class="page-title-text">{{getFiscalYearLabel()}} Annual Expenditure Report Reconciliation</h2>
  <div class="page-title-buttons">
    <button *ngIf="!isReportApproved(aer)" [disabled]="!aerForm.dirty" class="page-title-button" mat-raised-button matTooltip="Submit Changes" color="primary" aria-label="Submit Changes" (click)="submitAER()">
      <mat-icon>save</mat-icon>
    </button>
    <button class="page-title-button" mat-raised-button matTooltip="Print Screen" color="primary" aria-label="Print Screen" (click)="printPage()">
      <mat-icon>print</mat-icon>
    </button>
    <button class="page-title-button" mat-raised-button matTooltip="Back" color="primary" aria-label="Back" (click)="goToPreviousPage()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</div>

<form [formGroup]="aerForm">
  <div class="page-section">
    <h2 class="page-section-title">Municipality: {{getMunicipalityName()}}</h2>
    <div class="page-section-body">
      <mat-form-field *ngIf="!isReportApproved(aer)" class="half-width">
        <input matInput placeholder="Gas Tax Allocation received in FY {{getFiscalYearLabel()}}" type="number" formControlName="allocationReceived">
      </mat-form-field>
      <div *ngIf="isReportApproved(aer)" class="readonly-field half-width">
        <div class="label">Gas Tax Allocation received in FY {{getFiscalYearLabel()}}</div>
        <div class="value">{{aer.allocationReceived | currency}}</div>
      </div>
      <mat-form-field *ngIf="!isReportApproved(aer)" class="half-width">
        <input matInput placeholder="Interest earned on allocation fund in FY {{getFiscalYearLabel()}}" type="number" formControlName="allocationInterest">
      </mat-form-field>
      <div *ngIf="isReportApproved(aer)" class="readonly-field half-width">
        <div class="label">Interest earned on allocation fund in FY {{getFiscalYearLabel()}}</div>
        <div class="value">{{aer.allocationInterest | currency}}</div>
      </div>
    </div>
  </div>
</form>

<div class="page-section">
  <h2 class="page-section-title">Actions
    <button class="page-section-title-button" mat-icon-button color="primary" aria-label="Add" (click)="newAction()">
      <mat-icon>add</mat-icon>
    </button>
  </h2>

  <div class="page-section-body">
    <form [class]="getActionFormClasses()" [formGroup]="actionForm">
      <mat-form-field class="half-width">
        <mat-label>Action Taken</mat-label>
        <mat-select formControlName="actionType">
          <mat-option *ngFor="let actionType of actionTypes" [value]="actionType">
            {{actionType.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="actionForm.get('actionType').errors?.required">Action Taken is required</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Date Action Taken</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="actionForm.get('date').errors?.required">Date Action Taken is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Description of Action" type="text" formControlName="description">
        <mat-error *ngIf="actionForm.get('description').errors?.required">Description of Action is required</mat-error>
      </mat-form-field>
      <div class="half-width">
        <button [disabled]="actionForm.invalid" mat-raised-button matTooltip="Save Action" aria-label="Save Action" color="primary" class="expandable-form-button" (click)="saveAction()">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button matTooltip="Cancel" aria-label="Cancel" color="primary" class="expandable-form-button" (click)="cancelAction()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <mat-list class="full-width">
    <mat-list-item class="aer-reconciliation-action" *ngFor="let action of getReconciliationActions()" (click)="editAction(action)">
      <div class="action-icon">
        <mat-icon *ngIf="action.actionType.code === 'PHONE'">phone</mat-icon>
        <mat-icon *ngIf="action.actionType.code === 'EMAIL'">mail</mat-icon>
        <mat-icon *ngIf="action.actionType.code === 'RESPONSE'">reply</mat-icon>
      </div>
      <div class="action-date"><strong>Date:</strong> {{action.date | date}}</div>
      <div class="action-description"><strong>Description:</strong> {{action.description}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="getReconciliationActions().length === 0">
      No actions yet taken
    </mat-list-item>
  </mat-list>
</div>

<div class="page-section">
  <h2 class="page-section-title">
    Projects
  </h2>

  <div class="page-section-body">
    <form [class]="getProjectActualAmountFormClasses()" [formGroup]="projectActualAmountForm">
      <div class="readonly-field full-width">
        <div class="label">Project Name</div>
        <div class="value">{{projectActualAmountForm.get('projectTitle').value}}</div>
      </div>
      <div class="readonly-field half-width">
        <div class="label">Planned Amount</div>
        <div class="value">{{projectActualAmountForm.get('plannedAmount').value | currency}}</div>
      </div>
      <mat-form-field class="half-width">
        <input matInput type="number" formControlName="actualAmount" placeholder="Actual Amount">
        <mat-error *ngIf="projectActualAmountForm.get('actualAmount').errors?.required">Actual Amount is required</mat-error>
        <mat-error *ngIf="projectActualAmountForm.get('actualAmount').errors?.min">Actual Amount cannot be a negative number</mat-error>
      </mat-form-field>
      <div class="half-width">
        <button [disabled]="projectActualAmountForm.invalid" mat-raised-button matTooltip="Save Actual Amount" aria-label="Save Actual Amount" color="primary" class="expandable-form-button" (click)="saveProjectActualAmount()">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button matTooltip="Cancel" aria-label="Cancel" color="primary" class="expandable-form-button" (click)="cancelProjectActualAmount()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </form>
    <table #capitalInvestmentPlans mat-table class="projects full-width" [dataSource]="aerForm.get('capitalInvestmentPlans').controls">
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef>Project Name</th>
        <td mat-cell *matCellDef="let plan">{{plan.value.projectTitle}}</td>
      </ng-container>
      <ng-container matColumnDef="projectNumber">
        <th mat-header-cell *matHeaderCellDef>Project Number</th>
        <td mat-cell *matCellDef="let plan">{{plan.value.projectNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="projectVersion">
        <th mat-header-cell *matHeaderCellDef>Project Version</th>
        <td mat-cell *matCellDef="let plan">{{plan.value.version}}</td>
      </ng-container>
      <ng-container matColumnDef="plannedAmount">
        <th mat-header-cell *matHeaderCellDef class="align-right">Planned Amount</th>
        <td mat-cell *matCellDef="let plan" class="align-right">{{getPlannedAllocatedGasTaxFunds(plan.value) | currency}}</td>
      </ng-container>
      <ng-container matColumnDef="actualAmount">
        <th mat-header-cell *matHeaderCellDef class="align-right">Actual Amount</th>
        <td mat-cell *matCellDef="let plan" class="editable-row align-right" (click)="editProjectActualAmount(plan.value)">{{getActualAllocatedGasTaxFunds(plan.value) | currency}}</td>
      </ng-container>
      <ng-container matColumnDef="projectStatus">
        <th mat-header-cell *matHeaderCellDef class="align-right">Project Status</th>
        <td mat-cell *matCellDef="let plan" class="align-right">{{getStateText(plan.value.state)}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="align-centre">Actions</th>
        <td mat-cell *matCellDef="let plan" class="align-centre">
          <a [routerLink]="getViewCipLink(plan.value)" routerLinkActive="active">
            <button mat-icon-button color="primary" aria-label="Amend">
              <mat-icon>pageview</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="totalAllocatedGasTaxFunds">
        <td mat-footer-cell *matFooterCellDef colspan="3">
          <strong>Total Allocated Gas Tax Funds</strong>
        </td>
      </ng-container>
      <ng-container matColumnDef="plannedTotalAllocatedGasTaxFundsAmount">
        <td mat-footer-cell *matFooterCellDef class="align-right">
          {{getPlannedTotalAllocatedGasTaxFunds() | currency}}
        </td>
      </ng-container>
      <ng-container matColumnDef="actualTotalAllocatedGasTaxFundsAmount">
        <td mat-footer-cell *matFooterCellDef class="align-right">
          {{getActualTotalAllocatedGasTaxFunds() | currency}}
        </td>
      </ng-container>
      <ng-container matColumnDef="overUnderCommittedFunds">
        <td mat-footer-cell *matFooterCellDef colspan="3">
          <strong>Over/Under Committed Funds</strong>
        </td>
      </ng-container>
      <ng-container matColumnDef="plannedOverUnderCommittedFundsAmount">
        <td mat-footer-cell *matFooterCellDef class="align-right">
          {{getPlannedOverUnderCommittedGasTaxFunds() | currency}}
        </td>
      </ng-container>
      <ng-container matColumnDef="actualOverUnderCommittedFundsAmount">
        <td mat-footer-cell *matFooterCellDef class="align-right">
          {{getActualOverUnderCommittedGasTaxFunds() | currency}}
        </td>
      </ng-container>
      <ng-container matColumnDef="allocationFundsExpended">
        <th mat-header-cell *matHeaderCellDef class="align-right" colspan="2">Gas Tax Allocation Funds Expended in FY {{getFiscalYearLabel()}}</th>
      </ng-container>
      <ng-container matColumnDef="spacer">
        <th mat-header-cell *matHeaderCellDef class="align-right"></th>
        <td mat-footer-cell *matFooterCellDef class="align-right" colspan="2"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['spacer', 'spacer', 'spacer', 'allocationFundsExpended', 'spacer', 'spacer']"></tr>
      <tr mat-header-row *matHeaderRowDef="planColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: planColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['totalAllocatedGasTaxFunds', 'plannedTotalAllocatedGasTaxFundsAmount', 'actualTotalAllocatedGasTaxFundsAmount', 'spacer']"></tr>
      <tr mat-footer-row *matFooterRowDef="['overUnderCommittedFunds', 'plannedOverUnderCommittedFundsAmount', 'actualOverUnderCommittedFundsAmount', 'spacer']"></tr>
    </table>
    <!--      <tr class="projects-row" *ngFor="let plan of aer?.capitalInvestmentPlans">-->
    <!--        <td class="projects-cell"><strong>Total Allocated Gas Tax Funds</strong> {{getTotalAllocatedGasTaxFunds() | currency}}</td>-->
    <!--      </tr>-->
    <!--      <tr class="projects-row" *ngFor="let plan of aer?.capitalInvestmentPlans">-->
    <!--        <td class="projects-cell"><strong>Over/Under Committed Funds</strong> {{getOverUnderCommittedGasTaxFunds() | currency}}</td>-->
    <!--      </tr>-->
  </div>
</div>

<div class="page-footer-buttons">
  <button *ngIf="!isReportApproved(aer)" [disabled]="!aerForm.dirty" class="page-footer-button" mat-raised-button matTooltip="Submit Changes" color="primary" aria-label="Submit Changes" (click)="submitAER()">
    <mat-icon>save</mat-icon>
  </button>
  <button *ngIf="!isReportApproved(aer)" class="page-footer-button" mat-raised-button matTooltip="Approve AER" color="primary" aria-label="Approve AER" (click)="approveAER()">
    <mat-icon>thumb_up_alt</mat-icon>
  </button>
  <button *ngIf="isReportSubmitted(aer) || isReportApproved(aer)" class="page-footer-button" mat-raised-button matTooltip="Reject AER" color="primary" aria-label="Reject AER" (click)="rejectAER()">
    <mat-icon>thumb_down_alt</mat-icon>
  </button>
</div>
